@model IEnumerable<BankingManagement.Models.AccountInfo>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-6">
        <div>
            <div class="panel-heading">
                <div class="row">
                    <h2 class="panel-title pull-left" style="margin-left:10px;">
                        <strong>Account Details</strong>
                    </h2>
                    <button style="margin-right:10px" class="btn btn-primary pull-right" onclick="addNewCustomer()">Add New</button>
                </div>
            </div>
        </div>
        @if (Model.Count() != 0)
        {
            foreach (var item in Model)
            {
                <div class="card">
                    <div class="card-header">

                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-4 col-sm-5">
                            </div>
                            <div class="row mb-4">
                                <div class="col-sm-6">
                                    <h6 class="mb-3">Account Details:</h6>
                                    <div>
                                        <strong>Account Type : @item.AccountType</strong>
                                        @Html.ActionLink(" ", "EditAccount", new { id = @item.AccountId }, new { @class = "btn btn-warning  btn-sm glyphicon glyphicon-edit" })


                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <table class="table table-striped table-responsive">
                                <tbody>
                                    <tr>
                                        <td colspan="3">
                                            <div class="table-responsive-sm">
                                                <table class="table table-striped css-serial">
                                                    <thead>
                                                        <tr>
                                                            <th>Name</th>
                                                            <th>Email</th>
                                                            <th>Phone</th>
                                                            <th>Date Of Birth</th>
                                                            <th>Occupation</th>
                                                            <th>Salary</th>
                                                        </tr>
                                                    </thead>

                                                    @foreach (var customer in item.CustomerInfos)
                                                    {
                                                        <tbody>
                                                            <tr>
                                                                <td>@customer.Name</td>
                                                                <td>@customer.Email</td>
                                                                <td>@customer.Phone</td>
                                                                <td>@Convert.ToString(String.Format("{0:MM/dd/yyyy}", customer.DoB))</td>
                                                                <td>@customer.Occupation</td>
                                                                <td>@customer.Salary</td>
                                                                <td>@Html.ActionLink(" ", "EditCustomer", new { id = customer.CustomerId }, new { @class = "btn btn-warning pull-right  btn-sm glyphicon glyphicon-edit" })</td>
                                                            </tr>
                                                        </tbody>

                                                    }
                                                </table>
                                                <div class="row">
                                                    <div class="col-lg-4 col-sm-5">
                                                    </div>
                                                    <div class="col-lg-4 col-sm-5 ml-auto">

                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="panel-body">
                <h3 style="color:red;">Empty!</h3>
            </div>
        }
        <div class="modal fade" id="newCustomerModal">
            <div class="modal-dialog modal-lg" style=" width: 800px !important;">
                <div class="modal-content">
                    <div class="modal-header">
                        <a href="#" class="close" data-dismiss="modal">&times;</a>
                        <h4>Add New Customer</h4>
                    </div>
                    <form id="NewCustomerModel">
                        <div class="modal-body">

                            <h5 style="color:#ff6347">Account Details</h5>
                            <hr />
                            <div class="form-horizontal">
                                <input type="hidden" id="AccountId" />
                                <div class="form-group">
                                    <label class="control-label col-md-2">
                                        Account Type
                                    </label>
                                    <div class="col-md-4">
                                        <input type="text" id="name" name="name" placeholder="Account Type" class="form-control" />
                                    </div>
                                </div>
                            </div>

                            <h5 style="margin-top:10px;color:#ff6347">Customer Details</h5>
                            <hr />
                            <div class="form-horizontal">
                                <input type="hidden" id="CustomerId" />
                                <div class="form-group">
                                    <label class="control-label col-md-2">
                                        Customer Name
                                    </label>
                                    <div class="col-md-4">
                                        <input type="text" id="customerName" name="customerName" placeholder="Customer Name" class="form-control" />
                                    </div>
                                    <label class="control-label col-md-2">
                                        Email
                                    </label>
                                    <div class="col-md-4">
                                        <input type="email" id="email" name="email" placeholder="Email" class="form-control" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2">
                                        Phone
                                    </label>
                                    <div class="col-md-4">
                                        <input type="tel" id="phone" name="phone" placeholder="Phone" class="form-control" />
                                    </div>
                                    <label class="control-label col-md-2">
                                        Date Of Birth
                                    </label>
                                    <div class="col-md-4">
                                        <input type="text" id="dob" name="dob" placeholder="Birth Date" class="form-control" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2">
                                        Occupation
                                    </label>
                                    <div class="col-md-4">
                                        <input type="text" id="occupation" name="occupation" placeholder="Occupation" class="form-control" />
                                    </div>
                                    <label class="control-label col-md-2">
                                        Salary
                                    </label>
                                    <div class="col-md-4">
                                        <input type="number" id="salary" name="salary" placeholder="Salary" class="form-control" />
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <a id="addToList" class="btn btn-primary">Add To List</a>
                                </div>
                                <table id="detailsTable" class="table">
                                    <thead>
                                        <tr>
                                            <th style="width:20%">Name</th>
                                            <th style="width:20%">Email</th>
                                            <th style="width:10%">Phone</th>
                                            <th style="width:20%">Date Of Birth</th>
                                            <th style="width:10%">Occupation</th>
                                            <th style="width:10%">Salary</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="reset" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button id="saveCustomer" type="submit" onclick="saveCustomer()" class="btn btn-danger">Save Customer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>




</div>
<script src="~/Scripts/jquery-1.12.4.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<script src="~/Scripts/modernizr-2.8.3.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
@section scripts{
    <script>
        function addNewCustomer() {
            $("#newCustomerModal").modal();

        }
        $(document).ready(function () {
            $("#dob").datepicker({
                changeMonth: true, changeYear: true
            });
        })


        $("#addToList").click(function (e) {
            e.preventDefault();

            if ($.trim($("#customerName").val()) == "" || $.trim($("#email").val()) == "" || $.trim($("#phone").val()) == "" || $.trim($("#dob").val()) == "" || $.trim($("#occupation").val()) == "" || $.trim($("#salary").val()) == "") return;

            var CustomerName = $("#customerName").val(),
                Email = $("#email").val(),
                Phone = $("#phone").val(),
                DoB = $("#dob").val(),
                Occupation = $("#occupation").val(),
                Salary = $("#salary").val(),
                //Grade = $("#gradeDropDown").val(),

                detailsTableBody = $("#detailsTable tbody");

            var CustomerList = '<tr><td>' + CustomerName + '</td><td>' + Email + '</td><td>' + Phone + '</td><td>' + DoB + '</td><td>' + Occupation + '</td><td>' + Salary + '</td><td><a data-itemId="0" href="#" class="deleteItem">Remove</a></td></tr>';
            detailsTableBody.append(CustomerList);
            clearItem();
        });
        //After Add A New Order In The List, Clear Clean The Form For Add More Order.
        function clearItem() {
            $("#customerName").val('');
            $("#email").val('');
            $("#phone").val('');
            $("#dob").val('');
            $("#occupation").val('');
            $("#salary").val('');
        }
        $(document).on('click', 'a.deleteItem', function (e) {
            e.preventDefault();
            var $self = $(this);
            if ($(this).attr('data-itemId') == "0") {
                $(this).parents('tr').css("background-color", "#ff6347").fadeOut(800, function () {
                    $(this).remove();
                });
            }
        });
        function saveCustomer(data) {
            return $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'POST',
                url: "/Customers/SaveCustomer",
                data: data,
                success: function (result) {
                    alert("Successfully Added");
                    location.reload();
                },
                error: function () {
                    alert("Error!")
                }
            });
        }
        //Collect Multiple Order List For Pass To Controller
        $("#saveCustomer").click(function (e) {
            e.preventDefault();

            var customer = [];

            $.each($("#detailsTable tbody tr"), function () {
                customer.push({
                    Name: $(this).find('td:eq(0)').html(),
                    Email: $(this).find('td:eq(1)').html(),
                    Phone: $(this).find('td:eq(2)').html(),
                    DoB: $(this).find('td:eq(3)').html(),
                    Occupation: $(this).find('td:eq(4)').html(),
                    Salary: $(this).find('td:eq(5)').html()

                });
            });


            var data = JSON.stringify({
                name: $("#name").val(),
                customer: customer
            });

            $.when(saveCustomer(data)).then(function (response) {
                console.log(response);
            }).fail(function (err) {
                console.log(err);
            });
        });
    </script>
    }
