@model BankingManagement.Models.ViewModels.CreateCustomerViewModel
@{
    ViewBag.Title = "Delete";
}
<h2>Delete</h2>
<h3>Are you sure you want to delete this record?</h3>
<div>
    @Html.HiddenFor(model => model.CustomerId)
    <dl>
        <dt>@Html.DisplayNameFor(model => model.CustomerName)</dt>
        <dd>@Html.DisplayFor(model => model.CustomerName)</dd>
    </dl>
    <dl>
        <dt>@Html.DisplayNameFor(model => model.CreateDate)</dt>
        <dd>@Html.DisplayFor(model => model.CreateDate)</dd>
    </dl>
    <dl>
        <dt>@Html.DisplayNameFor(model => model.ImageName)</dt>
        <dd>@Html.DisplayFor(model => model.ImageName)</dd>
    </dl>
    <dl>
        <dt>@Html.DisplayNameFor(model => model.ImageUrl)</dt>
        <dd><img src="@Url.Content(Model.ImageUrl)" width="50" height="50" /></dd>
    </dl>
    @using (Html.BeginForm("Delete", "Customer", FormMethod.Post, new { @enctype = "multipart/form-data", @id = "Submit" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.CustomerId)
        <div>
            <input type="submit" class="btn btn-danger" value="Delete" />
        </div>
    }
    @Html.ActionLink("Back to Customer List", "Index")
</div>

